
[temperature_sensor CANBOARD]
sensor_type: temperature_mcu
sensor_mcu: toolhead

## HOT END FAN
[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: toolhead:MCU_FAN1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

## PART COOLING
[fan T0_partfan]
pin: toolhead:MCU_FAN2
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10


## ADXL345
[adxl345]
cs_pin: toolhead:ADXL_CS
spi_software_sclk_pin: toolhead:ADXL_SCLK
spi_software_mosi_pin: toolhead:ADXL_MOSI
spi_software_miso_pin: toolhead:ADXL_MISO
axes_map: -y,-z,x

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,50

# Include the IS calibration macros to unlock them when
# an accelerometer is installed on the machine
[include ../macros/helpers/resonance_override.cfg]
[include ../scripts/K-ShakeTune/K-SnT_*.cfg]

## PT100
# [temperature_sensor PT100]
# sensor_type: MAX31865
# sensor_pin: head:PT100_CS
# spi_bus: spi1
# min_temp: -50
# max_temp: 350
# rtd_reference_r: 430

