## Voron Design VORON2 300mm config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Z Endstop Switch location            [safe_z_home] section
## Homing end position                  [gcode_macro G32] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Probe points                         [quad_gantry_level] section
## Min & Max gantry corner postions     [quad_gantry_level] section
## PID tune                             [extruder] and [heater_bed] sections
## Fine tune E steps                    [extruder] section


[printer]
kinematics: corexy
max_velocity: 400  
max_accel: 3000             #Max 4000
max_z_velocity: 20          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

##===================================================================

[mcu]
# MKS Gen 1.4
# pin mapping: https://docs.arduino.cc/retired/hacking/hardware/PinMapping2560/
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A60219PP-if00-port0

#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left

[stepper_z]
step_pin: PF0
dir_pin: !PF1
enable_pin: !PD7
microsteps: 16
gear_ratio: 80:16
rotation_distance: 40

##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
endstop_pin: ^!PD2
position_endstop: 2.25
position_max: 270
position_min: -17
homing_speed: 15
second_homing_speed: 8
homing_retract_dist: 3

##  Z1 Stepper - Rear Left
[stepper_z1]
step_pin: PL3
dir_pin: !PL1
enable_pin: !PK0
microsteps: 16
gear_ratio: 80:16
rotation_distance: 40

##  Z2 Stepper - Rear Right
[stepper_z3]
step_pin: PF6
dir_pin: !PF7
enable_pin: !PF2
microsteps: 16
gear_ratio: 80:16
rotation_distance: 40

##  Z3 Stepper - Front Right
[stepper_z2]
step_pin: PA4
dir_pin: PA6
enable_pin: !PA2
microsteps: 16
gear_ratio: 80:16
rotation_distance: 40


#####################################################################
#   Bed
#####################################################################

[heater_bed]
heater_pin: PH4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK5
control: watermark
max_delta: 1.0
min_temp: 0
max_temp: 85

[gcode_macro PREHEAT_BED]
description: Pre-heats bed
gcode:
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=60
  _CG28
  G1 Z10 F3000

#####################################################################
#   X/Y Stepper Settings
#####################################################################

[include pitbv2.cfg]

#####################################################################
#   Head Settings
#####################################################################

[include ebb42.cfg]

#####################################################################
#   Mesh Bed Leveling
#####################################################################

[bed_mesh]
speed: 120
horizontal_move_z: 15
mesh_min: 20,45
mesh_max: 250,275 #296, 287
probe_count: 5,5
algorithm: bicubic
move_check_distance: 3
split_delta_z: .01

[include caselight.cfg]
